.App {
	text-align: center;
}

.App-link {
	color: navy;
}

input {
	margin: 10px;
	padding: 10px;
	border-radius: 2%;
	border: 1px solid lightslategrey;
	width: 25%;
}

button {
	margin: 20px 0px 0px 225px;
	padding: 10px;
	border-radius: 2%;
	border: 1px solid lightslategrey;
	width: 10%;
}
